@font-face {
    font-family: "Moderne Sans";
    src: url(modernesans.ttf) format("truetype");
}

body {
  background-color: black;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0px;
}

svg {
  vertical-align: top;
}

.header-container{
  margin: 0px;
  display: flex;
  line-height: 1.3;
}

.hero-image{
  flex: 4;
  position: relative;
  background-image: url("profile_nologo.jpg");
  background-size: cover;
  background-position: 50% 33%;
  background-repeat: no-repeat;
  height: 100vh;
  right: 3%;
  box-sizing: border-box;
  box-shadow: inset -6vw 0 3vw 0vw;
}

.hero-content{
  flex: 6;
  word-spacing: -0.5em;
  position: relative;
  right: 3vw;
  padding-top: 30vh;
  vertical-align: top;
  font-family: "Moderne Sans";
  color: white;
  font-size: 2vw;
  white-space: nowrap;
}

.hero-buttons{
  word-spacing: -0.2em;
}

.tagline{
  word-spacing: -0.4em;
  line-height: 1.4;
  position: fixed;
  text-align: right;
  bottom: 1vw;
  right: 1vw;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  color: darkgrey;
  font-size: 1vw;
  white-space: nowrap;
}

.btn-icon {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  margin: auto;
  min-width: 0.5vw;
  min-height: 0.5vw;
}

.btn {
  height: 2.2981770833333333333333333333333vw;
  fill: white;
  border: 0.15vw solid white;
  position: relative;
  display: inline-block;
  padding: 0.5vw;
  background-color: black;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  text-decoration: none;
  color: white;
  border-radius: 1.5vw;
  -webkit-transition: width 0.25s 0s;
  transition: width 0.25s 0s;
}

.btn .btn-text {
  max-width: 0;
  display: none;
  display: inline-block;
  -webkit-transition: color .25s 0s, max-width 0.25s 0s, width 0.25s 0s;
  transition: color 0.25s 0s, max-width 0.25s 0s, width 0.25s 0s;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75vw;
}

.btn:hover {
  background-color: white;
  color: black;
  fill: black;
}

.btn:hover .btn-text {
  /*padding-left: 0.5em;*/
  max-width: 8vw;
  color: black;
}
